@model DAL.Models.News

@{
    ViewData["Title"] = "News Details";
}

<div>
    <hr />
    <h4>Teamübersicht</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RealDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RealDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureName)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>