@model NewsViewModel

@{
    ViewData["Title"] = "Nachrichten";
    ViewData["Container"] = "container-fluid";
    ViewData["current"] = "news";
}

<div class="card" style="margin-bottom: 25px;">
    <div class="card-header">
        <div style="float: left;">
            @if (Model.CanGoPrevious) {
                <a asp-action="Index" asp-route-id="@Model.PreviousPageID">
                    <span>🡄 Ausgabe #@Model.PreviousPageID</span>
                </a>
            }
        </div>
        <div style="float: right;">
            @if (Model.CanGoNext) {
                <a asp-action="Index" asp-route-id="@Model.NextPageID">
                    <span class="text-right">Ausgabe #@Model.NextPageID 🡆</span>
                </a>
            }
        </div>
        <div style="text-align: center;">
            <span class="text-center">
                Gazelle - Ausgabe #@Model.PageID
                @if (Context.Session.TryGet<DAL.Models.User>("user", out var user) && user.Admin) {
                    <span> - </span><a asp-action="Create">Create new Entry</a>
                    <span> - </span><a asp-action="SetAllVisible" asp-route-id="@Model.PageID">Set all Visible</a>
                }
            </span>
        </div>
    </div>
</div>

<style>
    .gridContainer {
        display: grid;
        grid-template-areas: @Html.Raw(Model.GridLayout);

        grid-auto-columns: calc(100% / @Model.GridWidth);

        width: 100%;
        height: 100%;
    }

    .gridItem {
        padding: 10px;
        border: 1px solid lightgray;
    }
</style>

<div class="gridContainer">
    @foreach (var kvp in Model.News) {
    <div class="gridItem" style="grid-area: @kvp.Key; overflow: auto;">
        @if (!string.IsNullOrEmpty(kvp.Value.PictureName)) {
            <img src="~/img/@kvp.Value.PictureName" class="card-img-top" />
        }
        <div class="card-body">
            <h3 class="card-title">
                @if (!kvp.Value.Visible) {
                    <span>[Hidden] </span>
                }
                @kvp.Value.Title
                @if (user != null && user.Admin) {<span>|</span>
                    <a asp-action="Edit" asp-route-id="@kvp.Value.Id">Edit</a> <span>|</span>
                    <a asp-action="Details" asp-route-id="@kvp.Value.Id">Details</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@kvp.Value.Id">Delete</a>
                }
            </h3>
            <p class="card-text justify">
                @Html.Raw(kvp.Value.Content)
            </p>
        </div>
    </div>
    }
</div>