@model DAL.Models.SaveData

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SaveData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteamID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemandSatisfaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemandSatisfaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineUptime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineUptime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AbleToPayLoansBack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AbleToPayLoansBack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AveragePollution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AveragePollution)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
