@model DAL.Models.SaveData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SaveData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SteamID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SteamID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DemandSatisfaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DemandSatisfaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachineUptime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachineUptime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AbleToPayLoansBack)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AbleToPayLoansBack)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AveragePollution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AveragePollution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildingCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnlockedResearchCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnlockedResearchCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegionCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegionCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
