@model SaveDataListViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["current"] = "saveData";
}

<div class="card" style="margin-bottom: 25px;">
    <div class="card-header">
        <div style="float: left;">
            @if (Model.CanGoPrevious) {
                <a asp-action="Index" asp-route-currStartID="@Model.PreviousStartID">
                    <span>🡄</span>
                </a>
            }
        </div>
        <div style="float: right;">
            @if (Model.CanGoNext) {
                <a asp-action="Index" asp-route-currStartID="@Model.NextStartID">
                    <span class="text-right">🡆</span>
                </a>
            }
        </div>
        <div style="text-align: center;">
			<span class="text-center">
				SaveData IDs in range
				@Model.CurrentStartID<span>..</span>@(Math.Max(Model.CurrentStartID - SaveDataListViewModel.ItemsPerPage, 0))
				<a asp-action="ClearShareValues">Clear all Share values</a>
				<span>#@Model.CalculationQueueCount in Calculation Queue</span>
			</span>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>SteamID </th>
            <th>Date</th>
            <th>Profit</th>
            <th>CompanyValue</th>
            <th>DemandSatisfaction</th>
            <th>MachineUptime</th>
            <th>AveragePollution</th>
            <th>BuildingCount</th>
            <th>UnlockedResearchCount</th>
            <th>RegionCount</th>
            <th>ShareValue</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SteamID)
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DemandSatisfaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineUptime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AveragePollution)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnlockedResearchCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionCount)
                </td>
				<td>
					@if (item.ShareValue == -1) {
						<span>Calculating</span>
					} else {
						<span>@item.ShareValue</span>
					}
				</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
