@model IEnumerable<PlanspielWeb.Models.ShareValuesViewModel>

@{
    ViewData["Title"] = "Firmenübersicht";
    ViewData["current"] = "shareValues";
}

<h4>Firmenübersicht</h4>
<hr />
<div class="row">
    <table class="table">
        <thead>
			<tr>
				<th>Team</th>
				<th>Firmenbewertung</th>
				@if (Context.Session.TryGet<DAL.Models.User>("user", out var user) && user.Admin) {
					<th>[Admin] Balance</th>
					<th>[Admin] DateTime (last transmission)</th>
				}
			</tr>
        </thead>
        <tbody>
            @foreach (var share in Model) {
                <tr>
                    <td>@share.TeamName</td>
                    <td>
						@(share.ShareValue == -1 ? "Wird Berechnet ..."
						: share.ShareValue.ToString("F2", new System.Globalization.CultureInfo("US-us")))
					</td>
					@if (user != null && user.Admin) {
						<td>
							@share.Balance.ToString("C2", new System.Globalization.CultureInfo("US-us"))
						</td>
						<td>@share.TimeStamp</td>
					}
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <canvas id="chartF" style="height: 500px;"></canvas>
    <chart chart-type="bar" chart-name="chartF" chart-label="Firmenbewertung"
           x-labels="@Model.Select(x => x.TeamName).ToList()"
           y-values="@Model.Select(x => (float)x.ShareValue).ToList()"></chart>
</div>